    body {
        font-family: "Avenir Next", "Avenir", sans-serif;
        color: #8f9392;
    }

    .menuToggle, .mobile_navigation, .nav {
        display: none;   
    }

    
    /* MAIN LAYOUT - 2 COLUMNS */

    .logo_div { grid-area: logo_div; }
    .nav_container { grid-area: nav_container; }
    .index_body { grid-area: index_body; }
    .text-profile { grid-area: text-profile; }
    .img-profile { grid-area: img-profile; }
    .certificates_header { grid-area: certificates_header; }
    .gallery { grid-area: gallery; }
    .grid-container-services { grid-area: grid-container-services; }
    .contact_details { grid-area: contact_details; }
    .contact_form { grid-area: contact_form; }
    
    

    .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'logo_div nav_container'
        'index_body index_body'
        'text-profile img-profile'
        'certificates_header certificates_header'
        'gallery gallery'
        'grid-container-services grid-container-services'
        'contact_details contact_form';

        width: 65%;
        margin: 0 auto;
    }

    
    /* INDEX PAGE */

    .index_body { 
        grid-area: index_body;
        justify-self: center;
    }

    h1 {
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
    }

    .mobile_screen_first_name, .mobile_screen_second_name, .makeup_artist_mobile, .p_line_break {
        display: none;
    }

    .makeup_artist_mobile {
        display: none;
    }

    .fullScreenHeader {
        width: 100%;
        margin: 20% 0 0 0;
        padding: 0;
    }

   
    /* INDEX PAGE under the name  */
    .makeup_artist {
        margin: 20px 0;
        padding: 0;
        text-align: center;
        letter-spacing: 15px;
    }


    

    /*  ABOUT PAGE */
    .logo_div {
        grid-area: logo_div;
        align-self: center;
    }

    .logo {
        width: 100px;
        margin: 10% 5% 0 5%;
    }

    .nav_container {
        grid-area: nav_container;
        align-self: center;
        justify-self: right;
        margin: 0 5% 0 0;
    }

    .gallery {
        grid-area: gallery;
        align-self: center;
        justify-self: center;
    }

  

    /* NAVIGATION BEHAVIOUR */

    .full_menu li {
        list-style: none;
        font-size: 22px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        margin: 0 20px 0 20px;
        color: #232323;
        transition: color 0.3s ease;
    }

    a:hover {
        color: pink;
    }

    /* BODY TEXT AND IMAGE */

   
    .text-profile, .img-profile {
        margin-top: 10%;
    }

    .text-profile > p {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        text-justify: inter-character;
    }

    .img-profile > img {
        width: 90%;
        height: auto;
        margin: 0 5%;
    }

    .certificates_header > p {
        width: 90%;
        margin: 2% 2%;
    }
    
    /* CERTIFICATION HEADER AND GALLERY */
  
    .gallery_row1 > a, .gallery_row2 > a {
       margin: 0;
    }


    /* SERVICES PAGE */

  
    .grid-container-services {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        
        width: 100%;
      
        background: pink;
    }

    .front{
        text-align: center;

    }


    .front > img {
        display: inline-block;
        width: 100%;
        height: auto;
    }

 

    .back {
        display: none;
    }

  

    button {
        display: block;
        padding: 10px 60px;
       
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: normal;
        color: white;
        background: #444;
    }
    
    button:hover {
        background-color: pink;
        cursor: pointer;
    }

    /* CONTACT PAGE */

    .contact_details {
        grid-area: contact_details;
        margin: 7.25% auto 0 auto;
    }

    .contact_form {
        grid-area: contact_form;
        justify-self: center;
        margin-top: 20%;
        background-color: #eee;

    }

    .contact_details, .contact_form {
        width: 90%;
    }

    #contact {
        width:80%;
        margin: 0 auto;
    }

    #contact > div {
       
        margin: 0;
        padding: 0;
    }

    .address {
        list-style: none;
        padding: 0;
    }

    .google_map {
        width: 100%;
    }

    input, textarea {
        width: 100%;
        border: solid #8f9392 1px;
        font-size: 100%;
    }

    input {
        height: 30px;
    }

    textarea {
        height: 300px;
    }

    #contact_name {
        margin: 10% 0 0 0;
    }

    #contact_email {
        margin: 10% 0 0 0;
    }

    .message, .span {
        margin: 0 auto;
    }

    /* form validation error messages and real time validation */
    .error{
        display: none;
    }		
    .error_show, .PHPerror {
        color: red;
    }
    input, textarea {
        outline: none;
    }
    input.invalid, textarea.invalid{
        border: 2px solid red;
    }

    input.valid, textarea.valid{
        border: 2px solid green;
    }

    .success {
        padding: 5 5;
        background-color: limegreen;
        text-align: center;
        color: white;
    }

    .failure {
        padding: 5 5;
        background-color: lightcoral;
        text-align: center;
        color: white;
    }



    @media screen and (max-width: 1650px) {
        .container {
            width: 75%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1550px) {
        .container {
            width: 75%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1500px) {
        .container {
            width: 85%;
            margin: 0 auto;
        }

        .main_img {
            width: 100%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1300px) {

        .container {
            width: 90%;
            margin: 0 auto;
        }

        .full_menu {
            display: none;
        }

    
        /* Hamburger menu */
        .menuToggle {
            display: block;
            position: absolute;
            right: 12%;
            top: 7%;
            width: 33px;
            height: 33px;
            padding: 5px;
            z-index: 1;
            cursor: pointer;
        }
        
        .menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            background: #8f9392;
            border-radius: 3px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: .7s ease;
        }
        
        .hidden {
            opacity: 0;
            transition-delay: .5s;
            pointer-events: none;
            cursor: default;
        }
        
        .visible {
            opacity: 1;
        }

        /* Transform all the slices of hamburger into a crossmark */
        .menuToggle.open span:nth-child(1) {
            opacity: 1;
            transform: rotate(45deg) translate(0, 13px);
        }
        
        .menuToggle.open span:nth-child(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        .menuToggle.open span:nth-child(3) {
            transform: rotate(-45deg) translate(0, -13px);
        }

        /* Navigation pop up block */
        /*
        * Make this absolute positioned
        * at the top left of the screen
        */
        #mobile_navigation {
            position: absolute;
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            padding-top: 140px;
            background: #ededed;
            transition: 0.3s ease-in; 
        }


        .slideInRight {
            animation-duration: .5s;
        }
        
        .slideOutRight {
            animation-duration: .5s;
        }
    
        .nav {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
        
        ul {
            list-style-type: none;
        }

        a {
            
            text-decoration: none;
            font-size: 25px;
            color: #232323;
            transition: color 0.3s ease;
        }
    
        a:hover {
            color: pink;
        }

        .nav > ul > a > li {
            margin-bottom: 40%;
        }

        
    }

    /* iPad Pro portrait mode */
    /* @media screen and (max-width: 1024px) {
        .menuToggle {
            top: 7%;
        }
    } */

    /* Pixel 2XL landscape mode */
    @media screen and (max-width: 850px) {
        .grid-container-services {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            
            width: 100%;
          
            background: lightblue;
        }

        .front > h3 {
            font-weight: normal;
        }
    }

    /* iPhoneX landscape mode */
    /* @media screen and (max-width: 812px) {
        .menuToggle {
            top: 15%;
        }
    } */

    /* iPad portrait mode */
    /* @media screen and (max-width: 768px) {
        .menuToggle {
            top: 7%;
        }
    } */

    /* @media screen and (max-width: 740px) {
        .menuToggle {
            top: 15%;
        }
    } */

    /* @media screen and (min-width: px) {
        .menuToggle {
            top: 15%;
        }
    } */

    @media screen and (max-width: 550px) {
    
    

        .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'logo_div nav_container'
            'index_body index_body'
            'text-profile img-profile'
            'certificates_header certificates_header'
            'gallery gallery'
            'grid-container-services grid-container-services';
        }

        /* .menuToggle {
            top: 10px;
            right: 10px;
        } */

        .logo {
            width: 80px;
          
        }

        .main_img,.text-profile > p, .img-profile > img, .certificates_header > p {
            width: 100%;
            margin: 0 auto;
        }

        .fullScreenHeader, .makeup_artist {
            display: none;
        }

        .mobile_screen_first_name, .mobile_screen_second_name, .makeup_artist_mobile, .p_line_break {
            display: block;
            width: 100%;
            margin: 0;
            text-align: center;
        }

        .mobile_screen_first_name {
            margin: 20% 0 0 0;
        }

        .makeup_artist_mobile, .p_line_break {
            letter-spacing: 15px;
        }

        .makeup_artist_mobile {
            padding: 4% 0 1% 0;
        }

        .p_line_break {
            padding: 2% 0 4% 0;
        }

     

        .certificates_header > p {
            margin: 3% 0 3% 0;
        }
    
        .grid-container-services {
            display: grid;
            grid-template-columns: auto;
            grid-row-gap: 5px;
            width: 80%;
            background: lightyellow;
        }
       
        .grid-container-services {
            grid-area: grid-container-services;
            justify-self: center;
         
        }


    }

    
    /* @media screen and (max-width: 768px) {
        .menuToggle {
            top: 5%;
        }
    } */