body {
    font-family: "Avenir Next", "Avenir", sans-serif;
    color: #8f9392;
}


/* HEADER AND NAVIGATION CONTAINERS LAYOUT */

header {
display: grid;
justify-items: center;
}
.nav_container {
    grid-area: 1 / 2 / 2 / 3;
    
}


/* LOGO AND NAVIGATION BEHAVIOUR */

.logo {
    width: 150px;
    height: auto;
}

#menu {
    margin-top: 50px;
}

.nav_menu {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: pink;
}


/* BODY CONTAINERS */
.body {
    /* Need this setup for index page body */
    display: grid;
    justify-items: center;
  
}

#navigation {
    display: none;
}

#menuToggle input {
    display: none;
}


/* INDEX PAGE name of the lady */
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

#menu li {
    list-style: none;
    font-size: 22px;
}


/* INDEX PAGE under the name  */
.makeup_artist {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    letter-spacing: 15px;
}


/*   ABOUT PAGE */
.body-grid {
    display: grid;
    grid-template-columns: 44%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    
}
.text-profile {
    grid-column: 1;
    grid-row: 1;
}
.img-profile {
    grid-column: 2;
    grid-row: 1 / 3;
}
.certificates {
    grid-column: 1;
    grid-row: 2;
}

.text-profile > p, .certificates > p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-character;
}

.gallery {
    display: block;
    width: 80%;
    margin: 0 auto;
    
}

.text-profile > p {
    padding-top: 10%;
}

.img-profile > img {
    margin-top: 10%;
}

.certificates > p, .gallery > a > img {
    padding-top: 5%;
}

.makeup_artist_mobile {
    display: none;
}


/* SERVICES PAGE */

.body-services {
    display: block;
    width: 60%;
    margin: 100px auto 0 auto;
}

.grid-container-services {
    
    display: grid;
    grid-template-columns: auto auto auto;
    width: 99%;
    grid-column-gap: 5px;
    /* grid-row-gap: -20px;*/
    justify-content: center; 
    background: pink;
}


.front > img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.front > h3, .back > p {
    text-align: center;
}

.back {
    display: none;
}


/* CONTACT PAGE grid */

.contact-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    /* background-color: burlywood; */
}

.contact_details {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: cadetblue;
}

.google_map {
    width: 100%;
}

.contact_form {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    padding: 50px 0;
    background-color: #eee;

}

input, textarea {
    margin-left: 15%;
    border: solid #8f9392 1px;
    font-size: 100%;
}
span {
    margin-left: 15%;
}
input, textarea {
    width: 70%;
}
input {
    height: 30px;
}
textarea {
    height: 300px;
}

button {
    display: block;
    padding: 10px 60px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    background: #444;
}

button:hover {
    background-color: pink;
    cursor: pointer;
}

/* form validation error messages and real time validation */
.error{
	display: none;
}		
.error_show, .PHPerror {
	color: red;
}
input, textarea {
    outline: none;
}
input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}

.success {
    padding: 5 5;
    background-color: limegreen;
    text-align: center;
    color: white;
}

.failure {
    padding: 5 5;
    background-color: lightcoral;
    text-align: center;
    color: white;
}



  



@media screen and (max-width: 1300px) {

    body
    {
    margin: 0;
    padding: 0;
    /* background: #232323; */
    }

    .full_menu {
        display: none;
    }
    
    .logo{
        width: 100px;
        margin: 20px 0 0 20px;
    }

    a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }

    a:hover
    {
    color: pink;
    }

    /* Hanburger menu */
    .menuToggle {
        display: block;
        position: absolute;
        float: right;
        right: 40px;
        top: 5%;
        width: 33px;
        height: 33px;
        padding: 5px;
        z-index: 1;
        cursor: pointer;
      }
      
      .menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        background: #8f9392;
        border-radius: 3px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: .7s ease;
      }
      
      .hidden {
        opacity: 0;
        transition-delay: .5s;
        pointer-events: none;
        cursor: default;
      }
      
      .visible {
        opacity: 1;
        
      }
      
      /* Transform all the slices of hamburger into a crossmark */
      .menuToggle.open span:nth-child(1) {
        opacity: 1;
        transform: rotate(45deg) translate(0, 13px);
      }
      
      .menuToggle.open span:nth-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      .menuToggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(0, -13px);
      }
      
      /* Navigation pop up block */
      /*
    * Make this absolute positioned
    * at the top left of the screen
    */
      #navigation {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 300px;
        height: 400px;
        justify-content: center;
        padding-top: 140px;
        padding-bottom: 800px;
        background: #ededed;
        list-style-type: none;
        font-size: 25px;
        transition: 0.3s ease-in; 
      }
            
      .slideInRight {
        animation-duration: .5s;
      }
      
      .slideOutRight {
        animation-duration: .5s;
      }
      
      ul {
        list-style-type: none;
      }

      .nav_menu > li {
        margin: 10% 0;
      }
     
  
      
    /* ABOUT PAGE */
    .body {
       margin-top: 100px;
   }
   .main_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
   }

    .body-grid {
    display: grid;
    grid-template-columns: 44%;
    grid-template-rows: auto auto auto;
    justify-content: center;
   
    }
    .text-profile {
        grid-column: 1;
        grid-row: 1;
    }
    .img-profile {
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .certificates {
        grid-column: 1;
        grid-row: 2;
    }

    .text-profile > p, .certificates > p {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        text-justify: inter-character;
    }

    .gallery {
        display: block;
        width: 80%;
        margin: 0 auto;
    
    }

    .text-profile > p {
        padding-top: 10%;
    }

    .img-profile > img {
        width: 90%;
        height: auto;
        margin-top: 10%;
    }

    .certificates > p, .gallery > a > img {
        padding-top: 5%;
    }

    .makeup_artist_mobile {
        display: none;
    }

   
 
}


@media screen and (max-width: 1200px) {
  /* CONTACT PAGE */

.contact-grid {
    display: block;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center; */
    /* background-color: burlywood; */
}

.contact_details {
    /* grid-column: 1;
    grid-row: 1; */
    width: 100%;
    padding: 0 0 90px 0;
    background-color: cadetblue;
}

.google_map {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.contact_form {
    /* grid-column: 2;
    grid-row: 1; */
    width: 100%;
    padding: 50px 0;
    background-color: #eee;

}  
}

/* iPad  */
@media screen and (max-width: 771px) {
    .h1_line_break {
        display: block;
    }
    .main_img {
        width: 100%;
        height: auto;
    }
}

/* smart phones landscape mode and lower resolution */
@media screen and (max-width: 639px) {
    .body-grid {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .text-profile, .img-profile, .certificates {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        text-justify: inter-character;
    }
    .gallery {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .text-profile > p {
        width: 90%;
        margin: 0 auto;
    }

    .img-profile > img {
        width: 90%;
        height: auto;
        margin: 10% 0 0 5%;
    }

    .certificates > p, .gallery > a > img {
        padding-top: 5%;
    }
    .certificates > p, .gallery > a > img {
        margin: 0 5% 0 5%;
    }
}

@media screen and (max-width: 599px) {
   
    .p_line_break {
        display: block;
        margin-top: 10px;
    }
    .makeup_artist {
        display: none;
    }
    .makeup_artist_mobile {
        display: block;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        letter-spacing: 15px;
    }
    .gallery {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .logo{
        width: 80px;
        margin: 20px 0 0 20px;
    }
    #menuToggle input:checked ~ ul
    {
    transform: translate(25%, 0);
    }
   
}




